.subContainer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(14, 115, 161);
  margin: 0;
  padding: 0;
  width: 70vw;
  height: 30vh;
  list-style: none;
  padding: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.DegreeText {
  font-size: 18px;
}

.subLi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 50px;
}
